{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />

        <title>Reminders</title>

        <link href="/static/app.css" rel="stylesheet">
    </head>

    <body class="h-screen bg-indigo-50 overflow-y-scroll">
        <header class="pt-6 pb-5 px-5 mb-5 bg-indigo-900">
            <div class="flex">
                <div class="grid grid-rows-2 justify-center">
                    <a href="/"><img src="/static/logo.svg" height="48" width="48" class="ml-7"></a>
                    <a href="/" class="text-white text-xl">Reminders</a>
                </div>
                {{if .IsAuthenticated}}
                    <a href="/reminders/add" class="text-gray-200 font-semibold block mt-9 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-10 hover:bg-gray-900">Add reminder</a>
                {{end}}
            </div>
        </header>

        {{template "main" .}}

        <footer class="h-8"></footer>
    </body>

    <script type="text/javascript" src="/static/app.js"></script>
</html>
{{end}}
