{{template "base" .}}

{{define "main"}}

<main id="reminders" class="mx-10">
    {{with .Flash}}
    <div id="flash" class="mb-4 px-3 py-2 bg-amber-300">
        <p class="text-center font-semibold">{{.}}</p>
    </div>
    {{end}}

    {{if .Reminders}}
    <table class="table-fixed w-full shadow overflow-hidden rounded-md divide-y divide-gray-200">
        <thead class="bg-indigo-800 text-gray-100 font-medium text-sm text-left tracking-wider">
            <th scope="col" class="border border-gray-400 px-3 py-3">REMINDER</th>
            <th scope="col" class="border border-gray-400 px-3 py-3">DESCRIPTION</th>
            <th scope="col" class="border border-gray-400 px-3 py-3 w-1/14">FREQUENCY</th>
            <th scope="col" class="border border-gray-400 px-3 py-3 w-3/28">START DATE</th>
            <th scope="col" class="border border-gray-400 px-3 py-3 w-3/28">NOTIFICATION DATE</th>
            <th scope="col" class="border border-gray-400 px-3 py-3 w-1/14">RECURRING?</th>
            <th scope="col" class="border border-gray-400 px-3 py-3 w-5/28">NOTIFICATIONS</th>
        </thead>

        <tbody class="bg-white divide-y divide-gray-200">
            {{range .Reminders}}
            <tr class="hover:bg-violet-200">
                <td class="px-3 py-4 whitespace-pre-line border-r border-gray-50"><a href="/reminders/{{.ID}}" class="text-blue-600 hover:underline">{{.Title}}</a></td>
                <td class="px-3 py-4 whitespace-pre-line break-words border-r border-gray-50">{{.Description}}</td>
                <td class="px-3 py-4 border-r border-gray-50">
                    {{if ne .Frequency 0}}
                        {{.Frequency}} {{.FrequencyUnit}}
                    {{end}}
                </td>
                <td class="px-3 py-4 border-r border-gray-50">
                    {{if afterEpoch .StartDate}}
                        {{friendlydate .StartDate}}
                    {{end}}
                </td>
                <td class="px-3 py-4 border-r border-gray-50">{{friendlydate .NotificationDate}}</td>
                <td class="px-3 py-4 border-r border-gray-50">
                    {{if .Recurring}}
                        <i class="fas fa-check" title="recurring reminder"></i>
                    {{end}}
                </td>
                <td class="px-3 py-4">
                    {{range .NotificationEmailAddresses}}
                        <p>{{.}}</p>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
        <p>No reminders yet</p>
    {{end}}
</main>

{{end}}
