{{template "base" .}}

{{define "main"}}

<main id="reminder_details" class="flex justify-center">
    {{if eq .Action "add"}}
    <form action="/reminders/add" method="POST" class="shadow overflow-hidden rounded-md">
    {{end}}
    {{if eq .Action "view"}}
    <form hx-put='/reminders/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/" class="shadow overflow-hidden rounded-md">
    {{end}}
    {{if eq .Action "ack"}}
    <form class="shadow overflow-hidden rounded-md">
    {{end}}
        <div class="bg-white p-6">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6">
                    <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                    {{with .FormErrors.title}}
                        <label class="text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="title" id="title" required autofocus class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" value='{{.FormData.Get "title"}}' {{if eq .Action "ack"}}disabled{{end}}>
                </div>

                <div class="col-span-6">
                    <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                    {{with .FormErrors.description}}
                        <label class="text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <textarea name="description" id="description" rows="5" spellcheck="true" required class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" {{if eq .Action "ack"}}disabled{{end}}>{{.FormData.Get "description"}}</textarea>
                </div>

                <div class="col-span-3">
                    <label for="notification_date" class="block text-sm font-medium text-gray-700">What date should the notification be sent?</label>
                    <p class="text-sm text-gray-500">The notification date is only relevant for one-off notifications.</p>
                    {{with .FormErrors.notification_date}}
                        <label class="text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="date" name="notification_date" id="notification_date" required class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" value='{{.FormData.Get "notification_date"}}' {{if eq .Action "ack"}}disabled{{end}}>
                </div>

                <div class="col-span-6">
                    <label for="notifications" class="block text-sm font-medium text-gray-700">Which email addresses should receive notifications?</label>
                    <p class="text-sm text-gray-500">Separate multiple email addresses with a comma.</p>
                    {{with .FormErrors.notifications}}
                        <label class="text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="notifications" id="notifications" required class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" value='{{.FormData.Get "notifications"}}' {{if eq .Action "ack"}}disabled{{end}}>
                </div>

                <div class="col-span-6">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            {{if eq .RecurringReminder true}}
                                <input id="recurring" name="recurring" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" checked {{if eq .Action "ack"}}disabled{{end}}>
                            {{else}}
                                <input id="recurring" name="recurring" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" {{if eq .Action "ack"}}disabled{{end}}>
                            {{end}}
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="recurring" class="font-medium text-gray-700">Should the reminder be recurring?</label>
                            <p class="text-gray-500">The reminder will occur on the frequency specified after the notification date.</p>
                        </div>
                    </div>
                </div>

                <div id="recurringInputs" class="hidden col-span-6">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-3">
                            <label for="start_date" class="block text-sm font-medium text-gray-700">What date should the first notification occur?</label>
                            {{with .FormErrors.start_date}}
                                <label class="text-sm text-red-600 font-semibold">{{.}}</label>
                            {{end}}
                            <input type="date" name="start_date" id="start_date" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" value='{{.FormData.Get "start_date"}}' {{if eq .Action "ack"}}disabled{{end}}>
                        </div>

                        <div class="col-start-1 col-span-3">
                            <label for="frequency" class="block text-sm font-medium text-gray-700">How often should the reminder recur?</label>
                            {{with .FormErrors.frequency}}
                                <label class="text-sm text-red-600 font-semibold">{{.}}</label>
                            {{end}}
                            <input type="number" name="frequency" id="frequency" class="mt-1 p-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md" value='{{.FormData.Get "frequency"}}' {{if eq .Action "ack"}}disabled{{end}}>
                        </div>

                        <div class="col-span-3">
                            <label for="frequency_unit" class="block text-sm font-medium text-gray-700">&nbsp;</label>
                            {{with .FormErrors.frequency}}
                                <label class="text-sm text-red-600 font-semibold">&nbsp;</label>
                            {{end}}
                            <select id="frequency_unit" name="frequency_unit" class="mt-1 p-1 block w-full border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" {{if eq .Action "ack"}}disabled{{end}}>
                                {{$frequency_unit := .FormData.Get "frequency_unit"}}
                                <option {{if (eq $frequency_unit "Day(s)")}}selected{{end}}>Day(s)</option>
                                <option {{if (eq $frequency_unit "Month(s)")}}selected{{end}}>Month(s)</option>
                                <option {{if (eq $frequency_unit "Year(s)")}}selected{{end}}>Year(s)</option>
                            </select>
                        </div>
                    </div>
                </div>

                {{if eq .Action "ack"}}
                <div class="col-span-6 py-2 px-4 bg-amber-300 rounded-md">
                    {{if .RecurringReminder}}
                        <p class="font-semibold">The reminder due date will be set to {{.FormData.Get "new_notification_date"}}.</p>
                    {{else}}
                        <p class="font-semibold">The reminder will be deleted as it is complete.</p>
                    {{end}}
                </div>
                {{end}}
            </div>
        </div>
        <div class="py-3 bg-gray-50 px-6">
            {{if eq .Action "ack"}}
                <button type="button" hx-post='/reminders/{{.FormData.Get "id"}}/ack' hx-target="body" hx-push-url="/" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">Confirm reminder is complete</button>
            {{end}}
            {{if eq .Action "view"}}
                <button type="button" hx-confirm='Are you sure you want to delete reminder: {{.FormData.Get "title"}}?' hx-delete='/reminders/{{.FormData.Get "id"}}' hx-target="body" hx-push-url="/" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Delete reminder</button>
                <button type="submit" class="float-right inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save reminder</button>
            {{end}}
            {{if eq .Action "add"}}
                <button type="submit" class="float-right inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add reminder</button>
            {{end}}
        </div>
    </form>
</main>

{{end}}
